@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background: #f2f2f2;
  color: #000000;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.page-footer {
  display: flex;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  min-height: 65px;
}

.advantages-item {
  width: 400px;
}

.advantages-include {
  display: grid;
  grid-template-rows: 384px 384px;
  grid-column: 1 / 4;
  grid-template-areas: "house food suvenir";
  padding: 0;
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
}



.advantages-item-realcountry {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px 384px;

}

.advantages-first-description {
  background-color: #82B3D3;
}

.advantages-item-house {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  grid-area: house;

}

.advantages-item-food {
  width: 400px;
  grid-area: food;


}

.demon-bridge {
  order: -1;
  grid-column: 1/3;
}

.advantages-img {
  display: grid;
  order: -1;
}

.advantages-item-suvenir {
  width: 400px;
  grid-area: suvenir;
}

.advantages-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.advantages-desc {
  display: grid;
}

.advantages-item-bridge {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px;
  grid-column: 1 / 3;
}

.advantages-item-place {
  display: grid;
  grid-area: place;
  grid-column: 1/2;
}

.advantages-item-road {
  display: grid;
  grid-area: road;
  grid-column: 2/3;

}

.advantages-item-people {
  display: grid;
  grid-area: people;
  grid-column: 3/4;

}



.interesting {
  display: block;
  text-align: center;
  max-width: 1200px;
  min-height: 417px;

}


.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  color: white;
}

.button-catalog {
  padding: 14px 15px;
  margin-left: 50px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 657px;
  margin: 0;
  padding: 0;
  line-height: 26px;
  font-size: 20px;
  color: black;
  background-color: white;
  font-weight: 700;
  text-decoration: none;
}

.navigation-link {
  padding: 20px 19px;
  display: block;
  line-height: 26px;
  font-size: 20px;
  color: black;
  background-color: white;
  font-weight: 700;
  text-decoration: none;
}

.navigation-item {
  margin-right: 10px;
  margin-left: auto;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
}

.navigation-user .navigation-list {
  min-width: 18px;
  min-height: 17px;
  margin-left: auto;

}

.index-background {
  background-image: url("../images/index-background.jpg");
  background-color: rgb(139, 158, 161);
  color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  min-height: 485px;
}

.discription-sedona {
  margin-top: 63px;
  margin-bottom: 30px;
  margin-left: 290px;
  margin-right: 290px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;

}

.discription-sedona-box {
  text-align: center;

}

.discription-sedona-litle {
  width: 700px;
  margin-left: 273px;
  margin-right: 273px;
  margin-bottom: 90px;
  margin-top: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;

}

.advantages-title-bottom {
  margin-top: 103px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title {
  margin-top: 182px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title-first {
  margin-top: 92px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF
}

.avantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-number-first {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.advantages-number {
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-description {
  margin-top: 30px;
  margin-bottom: 102px;
  margin-left: 85px;
  margin-right: 85px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-description-first {
  margin-top: 30px;
  margin-bottom: 92px;
  margin-left: 85px;
  margin-right: 85px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.first-item {
  background-color: #82B3D3;
}

.advantages-now-white {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.interesting-title {
  padding-top: 91px;
  padding-bottom: 29px;
  margin-left: 450px;
  margin-right: 450px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.interesting-description {
  width: 600px;
  margin-bottom: 68px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.interesting-button {
  margin-top: 56px;
  margin-left: 310px;
  margin-right: 310px;
  margin-bottom: 90px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 580px;
  text-decoration: none;
}

.submit {
  text-align: center;
  background-image: url(../images/background-submit.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #FFFFFF;
  max-width: 1200px;
  min-height: 411px;
}

.submit-catalog {
  text-align: center;
  padding: 94px 0;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.submit-title {
  width: 410px;
  padding-top: 90px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.submit-description {
  padding-left: 360px;
  padding-right: 360px;
  padding-bottom: 45px;
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.submit-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.submit-input {
  width: 600px;
  height: 60px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}


.footer-socials-list {
  width: 142px;
}

.footer-number-button {
  margin-top: 45px;
  margin-bottom: 35px;
  margin-left: 236px;
  margin-right: 235px;
  width: 400px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-logo-button {
  margin-top: 50px;
  margin-bottom: 40px;
  width: 115px;
}


.catalog-title {
  padding-left: 70px;
  padding-top: 35px;
  padding-right: 635px;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  padding-left: 72px;
}

.breadcrumbs-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  max-width: 73px;
  margin-left: 10px;
}

.breadcrumbs:first-child {
  margin-left: 72px;
}

.background-header {
  background-image: url(../images/background-catalog.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  min-height: 420px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;

}

.catalog-filter-group {
  border: 0;
}

.catalog-filter-group-value {
  border: 0;
  display: flex;
  flex-direction: column;
}

.catalog-filter-group-button {
  margin: 0;
  padding: 0;


  border: none;
  display: flex;
  flex-direction: column;
}

.catalog-filter-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.catalog-filter-item {
  padding-top: 15px;
  padding-left: 70px;
  padding-right: 70px;
  width: 150px;
}

.catalog-filter-label {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.catalog-title-match {
  padding-top: 57px;
  padding-bottom: 60px;
  padding-left: 72px;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-container {
  display: flex;
  justify-content: space-between;
}

.catalog-how-much {
  margin: 0;
  padding-right: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.value-container {
  display: flex;
}

.catalog-filter-value {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 34px;
  width: 145px;
}

.catalog-filter-range {
  padding-top: 32px;
}

.catalog-filter-reset {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.catalog-select {
  min-width: 290px;
  max-height: 50px;
  margin-top: 55px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  margin: 0;
  padding: 0;

}

.first-card {
  margin-left: 73px;
}

.hotel-card-desc {
  display: grid;
  grid-template-columns: 170px 170px;
  grid-template-rows: auto min-content 40px;
  gap: 16px 20px;


}

.hotel-card-link {
  display: grid;
  grid-template-rows: 211px min-content;
  grid-column: 1/3;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
  grid-column: 1/3;
  grid-row: 2/3;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-button-like {
  color: white;
  background-color: #82B3D3;
}

.hotel-card-button-liked {
  background-color: #7DB54F;
}

.pagination {
  display: flex;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
}

.first-pagination {
  padding-left: 73px;
}


.pagination-item:not(:last-child) {
  padding-right: 8px;
}

.pagination-item {
  padding-top: 96px;
}

.pagination-link-first {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.catalog-bottom {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 71px;

}

.catalog-select-bottom {
  grid-column: 2/3;
  width: 160px;
  height: 50px;
}

.submit-title-cataloge {
  width: 410px;
  padding-top: 90px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.submit-description-cataloge {
  padding-left: 360px;
  padding-right: 360px;
  padding-bottom: 45px;
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  ;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
